/*@font-face {
    font-family: Minecraft;
    src:
        url(https://minecraft.wiki/images/Minecraft.woff2) format("woff2"),
        url(https://minecraft.wiki/images/Minecraft.woff) format("woff");
}*/

@font-face {
    font-family: Faithful;
    src: url(https://raw.githubusercontent.com/Faithful-Resource-Pack/Website/f98a505/public/font/Faithful.ttf)
        format("truetype");
}

body {
    background-color: #000;
    color: #fff;
    max-width: 1200px;
    margin: auto;
    font-family: Faithful, sans-serif;
    line-height: 1;
}
img {
    height: 32px;
    image-rendering: pixelated;
}
p {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 22px;
}
h1 {
    text-align: center;
}
b {
    font-weight: initial;
    color: #ff0;
}
a {
    color: #55ffff;
    text-decoration: none;
}

article {
    background-color: #444444;
    padding: 8px;
    border-radius: 8px;
}
